body {
    background-color: khaki;
}

img {
    margin: auto;
    display: block;
}

div, h1 {
    text-align: center;
}

ul.homeUL {
    display: inline-block;
    text-align: left;
}

a {
    font-size: 18px;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}